html{ 
	text-align: center;
}

#title {
	width: 				500px;
	height: 			40px;
  	margin: 			5px auto;
  	text-align: 		center;
  	background-color: 	green;
  	font-size:			150%;
}

#main {
	margin: 			5px auto;
	height: 			500px;
	width: 				440px;
	background-color:	#AAA;
	padding: 30px
}

#button {
	margin: 			5px auto;
	height: 			100px;
	width: 				500px;
	background-color: 	#FAF;

}


.bar {
	float : left;
	margin:				1px;
	width:				20px;
	background-color: 	#F00;
	font-size:			5px
}

